*{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    background-color: #0a66c2;
    color: azure;
}
.btns{
    display: flex;
    justify-content: space-around;
}
input, button{
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    color: #0a66c2;
}